  a{
    color: white;
    text-align: center;
    background-color: #d89b93;
  /* color: white; */
  width: 150px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  }
  h2{
    color:#62866d;
  }
  h1{
    color: white;
  }
  .mainf{
    border-radius: 25px;
    margin: auto;border: 2px solid white;width: 300;text-align: center;
    background-color: rgb(212, 203, 203);
  }
  .subf{
    border-radius: 25px;
    margin-left: 280;
    border: 2px solid white;width: 300;text-align: center;
    background-color: rgb(212, 203, 203);
  }
  button{
    color: rgb(46, 45, 45);
    font-weight: bold;
    background-color: rgb(119, 219, 219);
    border: 2px solid ;
    border-radius: 25px;
    width: 100;
    height: 35;
  }
  label{
    font-size:large;
  }
  .formdiv{
    align-content: left;
    background-color:#A7BEAE;
    width:85%;height:650;float: left;
  }
  .loginformdiv{
    background-color:#A7BEAE;
    height:500;
  }
  .registerformdiv{
    background-color:#A7BEAE;
    height:700;
  }
  .leftdiv{
    width:15%;height:650;background-color:#E7E8D1;float: left;
    font-size: large;
  }
  .topdiv{
    background-color: #d89b93; text-align:center; height:100;
  }
  /* input{
    border-radius: 10px;
    width: 150px;
    height:25px;
    border-color: white;
  } */
  input[type=text]{
    width: 200px;
    height:25px;
    border-radius: 5px;
    border-color: white;
  }
  input[type=number]{
    width: 150px;
    height:25px;
    border-radius: 5px;
    border-color: white;
  }
  input[type=email]{
    width: 200px;
    height:25px;
    border-radius: 5px;
    border-color: white;
  }
  input[type=tel]{
    width: 150px;
    height:25px;
    border-radius: 5px;
    border-color: white;
  }
  input[type=password]{
    width: 200px;
    height:25px;
    border-radius: 5px;
    border-color: white;
  }
  .viewport{
    width:max-content;
  }    /* zoom: 1.1;min-zoom: 0.4;max-zoom: 2;user-zoom: fixed;} */
